@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700,800,300);

body, html {
  margin: 0;
  padding: 0;
  background-color: #F2B707;
  color: #1F2326;
  font-family: 'Open Sans', Arial, sans-serif;
  top:0;
  left:0;
}

$sidebar-bg: #1F2326;
$sidebar-width: 360px;

#sidebar {
  background-color: $sidebar-bg;
  min-height:100vh;
  width: $sidebar-width;
  float: left;
  position:relative;
  top:0;
  left:0;
}

#content {
  margin: 0;
  padding: 0;
  position:absolute;
  left: $sidebar-width;
  right:0;
}

#content #header {
  background-color: #FFFFFF;
  padding: 10px 30px;
}

#header h1 {
  padding: 10px;
  margin: 10px;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
}

h1 {
  margin:0;
  padding:0;
}

#avatar {
  background-image: url(/images/picture.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:300px;
  background-size: 100%;
}

@mixin button-lighter($bg:$primary-color) {
  background-color: $bg;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  &:hover,
  &:focus { background-color: lighten($bg, 10%); }
}

@mixin button-darker($bg:$primary-color) {
  background-color: $bg;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  &:hover,
  &:focus { background-color: darken($bg, 10%); }
}

#networks {
  height:50px;
}

.network {
  float: left;
  width:33%;
  height:100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto 80%;
}

#sidebar h1 {
  font-size: 22px;
  margin:20px 0;
  color: #D9D9D9;
  font-family: 'Open Sans', Arial, sans-serif;
}

.network > a {
  width:100%;
  height:100%;
  display:block;
}

.network:nth-child(2) {
  width:34%;
}

#github.network {
  @include button-lighter(#333333);
  background-image: url(/images/networks/github.png);
}

#twitter.network {
  @include button-lighter(#55ACEE);
  background-image: url(/images/networks/twitter.png);
}

#linkedin.network {
  @include button-lighter(#4875B4);
  background-image: url(/images/networks/linkedin.png);
}

#stackoverflow.network {
  @include button-lighter(#FD9827);
  background-image: url(/images/networks/stackoverflow.png);
}

#twitter:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

#twitter {
  position:absolute;
  right:30px;
  top:0;
  height:100%;
}

#twitter a {
  display:inline-block;
  text-align:center;
  vertical-align:middle;
}

$contact-height: 50px;

#contact {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: $contact-height;
  font-size: 20px;
  line-height: $contact-height;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  @include button-darker(#FFFFFF);
}

#sidebar-content
{
  padding: 30px 30px;
  color: #A1A1A1;
  padding-bottom: 60px;
}

#sidebar-content ul {
  border-left: solid 1px #8C310F;
  list-style-type: none;
}

#sidebar-content ul li {
  margin: 20px 0;
}

#sidebar-content ul.less_spaced li {
  margin: 0;
}

#sidebar-content ul p {
  margin: 0;
}

#sidebar-content ul h2 {
  font-size: 16px;
  color: #D9D9D9;
  margin: 0;
}

#contact > a {
  width: 100%;
  height: 100%;
  display: block;
  color: $sidebar-bg;
  text-decoration: none;
}
