$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700,800,300);

h3 {
  margin-top:0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin:0;
    background-color: #F2B707;
}

$sidebar-bg: #1F2326;

#sidebar {
  background-color: $sidebar-bg;
  height:100vh;
  width:20%;
  position:relative;
}

#avatar {
  background-image: url(/images/picture.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:300px;
  background-size: 100%;
}

@mixin button-lighter($bg:$primary-color) {
  background-color: $bg;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  &:hover,
  &:focus { background-color: lighten($bg, 10%); }
}

@mixin button-darker($bg:$primary-color) {
  background-color: $bg;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  &:hover,
  &:focus { background-color: darken($bg, 10%); }
}


.network {
  float: left;
  width:33%;
  height:50px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto 80%;
}

.network > a {
  width:100%;
  height:100%;
  display:block;
}

.network:nth-child(2) {
  width:34%;
}

#github.network {
  @include button-lighter(#333333);
  background-image: url(/images/networks/github.png);
}

#twitter.network {
  @include button-lighter(#55ACEE);
  background-image: url(/images/networks/twitter.png);
}

#linkedin.network {
  @include button-lighter(#4875B4);
  background-image: url(/images/networks/linkedin.png);
}

#stackoverflow.network {
  @include button-lighter(#FD9827);
  background-image: url(/images/networks/stackoverflow.png);
}

$contact-height: 50px;

#contact {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: $contact-height;
  font-size: 20px;
  line-height: $contact-height;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  @include button-darker(#FFFFFF);
}

#sidebar-content
{
}

#contact > a {
  width:100%;
  height:100%;
  display:block;
  color: $sidebar-bg;
  text-decoration: none;
}

.lead {
  margin-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0px;
    line-height:40px;
    font-family:"Helvetica neue", sans-serif;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
