<div id="sidebar">
  <div id="avatar"></div>
  <div class="networks">
    <div class="network" id="github">
      <a href="https://github.com/julienfouilhe" target="_blank" title="Github of Julien Fouilhé"></a>
    </div>
    <div class="network" id="linkedin">
      <a href="http://au.linkedin.com/in/julienfouilhe/" target="_blank" title="Linkedin of Julien Fouilhé"></a>
    </div>
    <div class="network" id="stackoverflow">
      <a href="http://stackoverflow.com/users/1405208/julien-fouilhé" target="_blank" title="Stackoverflow of Julien Fouilhé"></a>
    </div>
  </div>
  <div id="sidebar-content">

  </div>
  <div id="contact"><a href="mailto:julien.fouilhe@gmail.com">Contact</a></div>
</div>
