<div id="sidebar" class="col-xs-12 col-sm-4 col-lg-3">
  <div id="avatar"></div>
  <div id="networks">
    <div class="network" id="github">
      <a href="https://github.com/julienfouilhe" target="_blank" title="Github of Julien Fouilhé"></a>
    </div>
    <div class="network" id="linkedin">
      <a href="http://www.linkedin.com/in/julienfouilhe/en" target="_blank" title="Linkedin of Julien Fouilhé"></a>
    </div>
    <div class="network" id="stackoverflow">
      <a href="http://stackoverflow.com/users/1405208/julien-fouilhé" target="_blank" title="Stackoverflow of Julien Fouilhé"></a>
    </div>
  </div>
  <div id="sidebar-content">
    <h1>Education</h1>
    <ul>
      <li>
        <h2>2014-2015 RMIT - Australia</h2>
        <p>CS postgraduate student</p>
      </li>
      <li>
        <h2>2011-2016 EPITECH - France</h2>
        <p>Expert in Information Technologies</p>
      </li>
    </ul>
    <h1>Languages</h1>
    <ul class="less_spaced">
      <li>
        <p><strong>French:</strong> Native language</p>
      </li>
      <li>
        <p><strong>English:</strong> Professional level</p>
      </li>
    </ul>
  </div>
  <div id="contact"><a href="mailto:julien.fouilhe@gmail.com">Contact me!</a></div>
</div>
<div id="content" class="col-xs-12 col-sm-8 col-lg-6">
  <div id="header">
    <div id="twitter">
      <span>
        <img src="images/networks/twitter.png" alt="Twitter" width="18px" height="15px" />
        <a href="https://twitter.com/julienfouilhe" target="_blank">@julienfouilhe</a>
      </span>
    </div>
    <h1>Julien Fouilhé</h1>
    <p>Melbourne, Australia</p>
  </div>
  <div id="projects">
    <h1>Projects</h1>
    <div class="project" ng-repeat="project in projects">
      <h2><span ng-bind="project.name"></span> <span class="headline" ng-bind="project.leadline"></span></h2>
      <p class="justified" ng-bind-html="project.description"></p>
      <ul>
        <li ng-repeat="action in project.actions" ng-bind="action"></li>
      </ul>
      <aside ng-if="project.url"><a ng-href="{{project.url}}" target="_blank">Access website</a></aside>
    </div>
  </div>
</div>
<div id="career" class="col-xs-offset-0 col-xs-12 col-sm-12 col-lg-3">
  <h1>Career</h1>
  <div ng-repeat="item in career">
    <h2>
      <span ng-bind="item.title"></span><br/>
      <span class="headline"><span ng-bind="item.company"></span> - <span ng-bind="item.location"></span></span>
    </h2>
    <p ng-bind-html="item.description"></p>
    <aside ng-bind="item.frame"></aside>
  </div>
</div>
